    <!-- LOGO -->
    <div class="topbar-left margin-five">
        <div style="margin-left:12%">
            <a href="/portal" class="logo">
                <img src="/assets/images/logo.png" alt="logo" class="logo-lg" />
                <img src="/assets/images/logo_sm.png" alt="logo" class="logo-sm hidden" />
            </a>
        </div>
    </div>

    <!-- Top navbar -->
    <div class="navbar navbar-default portal-navbar" role="navigation" id="topbar">
        <div class="container">
            <div class="">
                <!-- Top nav Right menu -->
                <ul class="nav navbar-nav navbar-right top-navbar-items-right pull-right margin-five">
                    <li class="dropdown top-menu-item-xs">
                        <a id="noticed" href="#" data-target="#" class="dropdown-toggle menu-right-item" data-toggle="dropdown" aria-expanded="true">
                            <i class="mdi mdi-bell"></i>
                            <span id="userId" class="hidden"></span>
                            <span id="userNotified" class="hidden"></span>
                            <div id="notified">
                            </div>
                        </a>
                        <ul class="dropdown-menu p-0 dropdown-menu-lg">
                            <!--<li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>-->
                            <li class="list-group notification-list" style="height: 267px;">
                                <div class="slimscroll" id="notification-list">
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown top-menu-item-xs">
                        <a href="" class="dropdown-toggle menu-right-item profile" data-toggle="dropdown" aria-expanded="true">
                            <img src="/assets/images/users/user.jpg" alt="user-img" class="img-circle" id="user-img">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Hai, <span id="username"></span></a></li>
                            <li><a href="/portal/profile"><i class="ti-user m-r-10"></i> Profile</a></li>
                            <li><a href="/portal/setting"><i class="ti-settings m-r-10"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="ti-power-off m-r-10"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div> <!-- end container -->
    </div> <!-- end navbar -->