<!DOCTYPE HTML>
<html lang="id">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Timesheet | Portal Nostra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Timesheet site of Nostra. Internal Application" name="description" />
        <meta content="Nostra2.0" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="/assets/images/favicon.ico" rel="shortcut icon" />
        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
        <!-- MetisMenu CSS -->
        <link href="/assets/css/metisMenu.min.css" rel="stylesheet" />
        <!-- Icons CSS -->
        <link href="/assets/css/icons.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

        <script src="/assets/js/jquery-2.1.4.min.js"></script>

    </head>
    <body>
        <div id="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar" id="topbar">
            </div>
            <!-- Top Bar End -->
            <!-- Page content start -->
            <div class="page-contentbar">
                <!--left navigation start-->
                <aside class="sidebar-navigation" id="sidenav">
                </aside>
                <!--left navigation end-->

                <!-- START PAGE CONTENT -->
                <div id="page-right-content">
                    <div class="container">
                        <div class="row" id="app">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="row no-margin">
                                        <h4 class="m-t-0" style="display:inline">Timesheet</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mails m-0 table table-actions-bar">
                                            <thead>
                                            <tr>
                                                <th class="center-cell">Board</th>
                                                <th class="center-cell">List</th>
                                                <th class="center-cell">Card</th>
                                                <th class="center-cell">Member</th>
                                                <th class="center-cell">Spent</th>
                                                <th class="center-cell">Estimated</th>
                                                <th class="center-cell">Text</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="(result,index) in results">
                                                <td class="center-cell">{{result.board}}</td>
                                                <td class="center-cell">{{result.list}}</td>
                                                <td class="center-cell">{{result.card}}</td>
                                                <td class="center-cell">{{result.member}}</td>
                                                <td class="center-cell">{{result.spent}}</td>
                                                <td class="center-cell">{{result.estimated}}</td>
                                                <td class="center-cell">{{result.text}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->

                    <div class="footer" id="footer">
                    </div> <!-- end footer -->
                </div>
                <!-- End #page-right-content -->
            </div>
            <!-- end .page-contentbar -->
        </div>
        <!-- End #page-wrapper -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/metisMenu.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.min.js"></script>
        <script src="/assets/js/vue.min.js"></script>

        <!-- App Js -->
        <script src="/assets/js/jquery.app.js"></script>

        <script type="text/javascript">
        var app = new Vue({
          el: '#app',
          data: {
            hostBoard: 'https://api.trello.com/1/board/',
            board: 'YIWBjmWy',
            key: '2a5acecfe90a199c699e6e3fe1645cbf',
            token: '76744d8c5245824f56c9c9520f2d0b85080df2c82710ba2e423e661e423abfc8',
            results: [],
          },
          created: function () {
            this.loadData();
          },
          methods: {
            loadData() {
                $.get(this.hostBoard+this.board+'/actions/?limit=999&key='+this.key+'&token='+this.token)
                .done(function (result) {
                  for (var i = 0; i < result.length; i++){
                    let dataText = result[i].data.text;
                    if (dataText != null){
                      if (dataText.indexOf('plus!') >= 0){
                        let plus = dataText.replace('plus! ','');
                        let data = result[i].data;
                        let action = {
                          card: data.card.name,
                          cardId: data.card.id,
                          board: data.board.name,
                          boardId: data.board.id,
                          list: data.list.name,
                          listId: data.list.id,
                          member: this.getMember(result[i].memberCreator.username, plus),
                          spent: this.getSpentTime(plus),
                          estimated: this.getEstimateTime(plus),
                          text: dataText
                        }
                        this.results.push(action);
                      }
                    }
                  }
                }.bind(this))
                .error(function (err) {
                    console.log('error occured', err.status)
                });
            },
            getMember(creator, plus){
              let p = plus.indexOf('@');
              let space = plus.indexOf(' ');
              if (p >= 0){
                return plus.substring(p+1,space);
              } else {
                return creator;
              }
            },
            getSpentTime(plus) {
              let slash = plus.indexOf('/');
              let space = plus.indexOf(' ');
              let at = plus.indexOf('@');
              if (at < 0){
                return plus.substring(0,slash);
              } else {
                return plus.substring(space,slash)
              }
            },
            getEstimateTime(plus) {
              let slash = plus.indexOf('/');
              return plus.substring(slash+1);
            },
          }
        })
        </script>

    </body>
</html>
