<div class="scrollbar-wrapper">
    <div>
        <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
            <i class="mdi mdi-close"></i>
        </button>
        <!-- User Detail box -->
        <div class="user-details">
            <div class="pull-left">
                <img src="/assets/images/users/admin.png" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <a href="#" id="username"></a>
                <p class="text-muted m-0" id="role"></p>
            </div>
        </div>
        <!--- End User Detail box -->

        <!-- Left Menu Start -->
        <ul class="metisMenu nav" id="side-menu">
            <li><a href="/admin/"><i class="ti-home"></i> Dashboard </a></li>

            <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="ti-world"></i>  Nostra Site <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><a href="/admin/client"><i class="ti-crown"></i> Klien</a></li>
                    <li><a href="/admin/testimony"><i class="ti-comment-alt"></i> Testimoni</a></li>
                    <li><a href="/admin/career"><i class="ti-briefcase"></i> Karir</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="ti-layers-alt"></i>  Portal <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><a href="/admin/academy?t=course"><i class="ti-agenda"></i> Akademi</a></li>
                    <li><a href="/admin/notification"><i class="ti-bell"></i> Notifikasi</a></li>
                    <li><a href="/admin/bill"><i class="ti-wallet"></i> Patungan</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript: void(0);" aria-expanded="true"><i class="ti-user"></i>  User <span class="fa arrow"></span></a>
                <ul class="nav-second-level nav" aria-expanded="true">
                    <li><a href="/admin/user"><i class="ti-id-badge"></i> Pegawai</a></li>
                    <li><a href="/admin/bill"><i class="ti-folder"></i> Dokumen</a></li>
                </ul>
            </li>


            <li><a href="/logout"><i class="ti-power-off"></i> Logout</a></li>
        </ul>
    </div>
</div><!--Scrollbar wrapper-->
