    <!-- LOGO -->
    <div class="topbar-left">
        <div class="">
            <a href="/admin" class="logo">
                <img src="/assets/images/logo.png" alt="logo" class="logo-lg" />
                <img src="/assets/images/logo_sm.png" alt="logo" class="logo-sm hidden" />
            </a>
        </div>
    </div>

    <!-- Top navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">

                <!-- Mobile menu button -->
                <div class="pull-left">
                    <button type="button" class="button-menu-mobile visible-xs visible-sm">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>

                <!-- Top nav left menu -->
                <ul class="nav navbar-nav hidden-sm hidden-xs top-navbar-items">
                    <li><a href="http://nostratech.com/" target="_blank">Nostra Site</a></li>
                    <li><a href="/portal/" target="_blank">Portal</a></li>
                </ul>

            </div>
        </div> <!-- end container -->
    </div> <!-- end navbar -->
